margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: white;
}

/* HERO */

.hero {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://images.unsplash.com/photo-1514525253161-7a46d19cd819");
  background-size: cover;
  background-position: center;
}

.overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.overlay h1 {
  font-size: 5rem;
  letter-spacing: 5px;
}

.overlay p {
  font-size: 1.3rem;
}

.overlay button {
  padding: 15px 35px;
  border: none;
  border-radius: 50px;
  background: #ff4d6d;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

/* EVENTS */

.events {
  padding: 80px 10%;
}

.events h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 25px;
}

.card {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(12px);
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
}

.card span {
  font-size: 3rem;
}

.card h3 {
  margin-top: 15px;
}

/* FORM */

.registration {
  padding: 80px 10%;
}

.registration h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

input,
select {
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

form button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #ff4d6d;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

/* FOOTER */

footer {
  background: #020617;
  text-align: center;
  padding: 30px;
  margin-top: 60px;
}

footer h3 {
  margin-bottom: 10px;
}

/* MOBILE */

@media(max-width:768px) {
  .overlay h1 {
    font-size: 3rem;
  }

  .overlay p {
    text-align: center;
  }
}
